<div class="about-section">
  <div class="top-photo">
    <img src="/assets/images/trainer_photo1.jpg" alt="trener personalny">
    <h2>
      Adam Kowalski
    </h2>
  </div>
  <div class="right">
    <h3>
      Pozwól że opowiem Ci coś o sobie
    </h3>
    <p>
      Jestem trenerem personalnym z wieloletnim doświadczeniem. Moją pasją jest sport, zdrowie oraz motywowanie innych do osiągania swoich celów. W swojej pracy kładę nacisk na indywidualne podejście do każdego klienta, co pozwala mi na osiąganie najlepszych rezultatów.
    </p>
    <button mat-raised-button routerLink="/about">
      Czytaj więcej
    </button>
  </div>
</div>
