<div class="contact-section">
  <h2>Napisz do mnie po więcej informacji</h2>
  <div class="form-container">
  <div class="user-info">
    <mat-form-field>
      <mat-label for="name">Imię</mat-label>
      <input matInput id="name" [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label for="email">Email</mat-label>
      <input matInput id="email" [(ngModel)]="email">
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label for="message">Wiadomość</mat-label>
    <textarea matInput id="message" [(ngModel)]="message"></textarea>
  </mat-form-field>
    <button class="submit-button" mat-raised-button color="accent" (click)="sendMessage()">Wyślij</button>
    <h3 class="under-submit-text" *ngIf="isMainPage">..lub, sprawdź inne możliwości kontaktu
      <a href="/contact">tutaj</a>
    </h3>
    <div class="more-contact-info" *ngIf="!isMainPage">
      <h3 class="under-submit-text">lub skontaktuj się ze mną bezpośrednio</h3>
      <p>zadzwoń: +48 123 456 789</p>
      <p>napisz na instagramie: <a href="">@instagram</a></p>
      <p>napisz na facebooku: <a href="">@facebook</a></p>
      <p>po prostu wpadnij na zajęcia w klubie FITGYM w Krakowie , w każdy poniedziałek i czwartek w godzinach 16:00 - 20:00</p>
    </div>
  </div>
</div>
