<div class="section-container" [ngClass]="{'margin-top-0' : isMainPage}">
  <div class="contact-section">

    <h2 class="contact-section__header" [ngClass]="{'d-none': isSend}">Napisz do mnie po więcej informacji</h2>

    <div class="contact-section__form-container">
      <form [ngClass]="{'d-none': isSend}" [formGroup]="contactForm" (ngSubmit)="sendMessage()" class="contact-section__form">
        <mat-form-field class="contact-section__input">
          <mat-label for="name">Imię</mat-label>
          <input matInput id="name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="contact-section__input">
          <mat-label for="email">Email</mat-label>
          <input matInput id="email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="contact-section__textarea">
          <mat-label for="message">Wiadomość</mat-label>
          <textarea matInput id="message" formControlName="message" required></textarea>
        </mat-form-field>
        <span class="contact-section__submit-button" [matTooltip]="!isFormValid ? 'Uzupełnij wymagane pola' : ''">
         <button type="submit" [disabled]="!isFormValid"
                 mat-raised-button color="accent" >Wyślij</button>
        </span>
      </form>
      <div class="contact-section__success-container" [ngClass]="{'d-block': isSend, 'd-none-start': !isSend}">
        <div class="success-container__success-content">
          <h2 class="success-container__success-title">Gratulacje!</h2>
          <p class="succes-container__success-subtitle">Zrobiłeś/aś pierwszy krok do wymarzonej formy!</p>
          <p class="succes-container__success-description">Skontaktujemy się z Tobą w celu ustalenia szczegółów.</p>
        </div>
      </div>
      <h3 class="contact-section__under-submit-text">
        <span [textContent]="isMainPage ? '..lub sprawdź inne możliwości kontaktu ' : 'lub skontaktuj się ze mną bezpośrednio'"></span>
        <a class="contact-section__under-submit-text-link" routerLink="/contact" *ngIf="isMainPage">tutaj</a>
      </h3>
    </div>
    <div class="contact-section__more-contact-info" *ngIf="!isMainPage">
      <div class="contact-section__more-contact-options">
        <p class="contact-section__contact-option">
          <mat-icon>phone</mat-icon>
          <span>Zadzwoń do mnie:</span>
          <a class="contact-section__contact-option-link" href="tel: +48123456789">
            +48 123-456-789
          </a></p>
        <p class="contact-section__contact-option">
          <mat-icon>camera_alt</mat-icon>
          <span>Napisz na instagramie:</span>
          <a class="contact-section__contact-option-link" href="">@Kowalski_fit</a></p>
        <p class="contact-section__contact-option">
          <mat-icon>facebook</mat-icon>
          <span>Napisz na facebooku:</span>
          <a class="contact-section__contact-option-link" href="">@Kowalski_fit</a></p>
      </div>
      <p class="contact-section__contact-option">
        <mat-icon>location_on</mat-icon>
        <span>Po prostu wpadnij na zajęcia w klubie FITGYM w Krakowie, ul.Treningowa 12 , w każdy poniedziałek i czwartek w godzinach 16:00 - 20:00</span>
      </p>
    </div>
  </div>
</div>
