.contact-section {
  padding: 0 1rem;
  h2 {
    text-align: center;
    margin: 3rem 0;
    color: #fff;
    font-size: 1.5rem;
  }
  h3 {
    text-align: center;
    font-size: 1rem;
    margin: 2rem 0;
    color: #fff;
    a {
      text-decoration: none;
      color: #ffd740;
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  .user-info {
    display: flex;
    flex-direction: column;
  }
}

.more-contact-info {
  display: flex;
  flex-direction: column;
  p {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #ffd740;
    padding: 1rem;
    color: #37474F;
    border-radius: 12px;
    mat-icon {
      min-width: 20px;
    }
    span {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 768px) {
  .contact-section {
    max-width: 1200px;
    width: 100%;
    margin: 2rem auto;
    .form-container {
      .user-info {
        flex-direction: row;
        gap: 1rem;
        mat-form-field {
          width: 100%;
        }
      }
      .submit-button {
        align-self: flex-end;
        width: calc(50% - 1rem);
        padding: 1.5rem;
        font-size: 1rem;
      }
    }
    h2 {
      text-align: left;
    }
  }
  .flex-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    p {
      width: 100%;
      a {
        text-decoration: none;
        font-weight: 600;
        color: #37474F;
        border-bottom: 1px solid #37474F;
        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
  .margin-top-0 {
    margin-top: 0;
  }
}
