<mat-toolbar color="accent" class="fixed-menu" [ngClass]="{'transparent-bg': isScrolled}">
  <mat-toolbar-row>
    <div class="fixed-menu__nav-bar">
      <button mat-icon-button routerLink="/" routerLinkActive="active">
        <mat-icon>
          home
        </mat-icon>
      </button>
      <span class="fixed-menu__logo" routerLink="/">
        <img class="fixed-menu__logo-image" [ngClass]="{'fixed-menu__large' : !isScrolled}" src="assets/images/page-logo1.webp" alt="logo">
      </span>
      <span class="fixed-menu__lg-menu-items">
        <button mat-button *ngFor="let item of menuItems" routerLinkActive="active" routerLink="{{item.path}}">
          {{item.name}}
        </button>
      </span>
      <span class="fixed-menu__lg-none">
          <button mat-button [matMenuTriggerFor]="menu">
            <span>
              Menu
            </span>
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let item of menuItems" routerLinkActive="active" routerLink="{{item.path}}">
              {{item.name}}
            </button>
          </mat-menu>
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
