<mat-toolbar color="accent">
  <mat-toolbar-row>
    <div class="nav-bar">
      <button mat-icon-button routerLink="/" routerLinkActive="active">
        <mat-icon>
          home
        </mat-icon>
      </button>
      <span class="lg-menu-items" *ngIf="!isMobile$">
        <button mat-button *ngFor="let item of menuItems" routerLinkActive="active" routerLink="{{item.path}}">
          {{item.name}}
        </button>
      </span>
      <span class="logo">
        <img [ngClass]="{'large' : !isMobile$}" src="assets/images/page-logo1.webp" alt="logo">
      </span>
      <span *ngIf="isMobile$">
          <button mat-button [matMenuTriggerFor]="menu">
            <span>
              Menu
            </span>
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let item of menuItems" routerLinkActive="active" routerLink="{{item.path}}">
              {{item.name}}
            </button>
          </mat-menu>
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
