.achievements-container {
  padding: 0 1rem;
  .achievements-list {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;

    .single-achievement {
      border-bottom: 2px solid #ffd740;
      padding: 1rem 2rem;
      border-radius: 12px 12px 0 0;
      background: #2e3f46;
      color: #fff;
      transition: ease-in-out 0.3s;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        small {
          font-size: 0.8rem;
        }
      }

      .achievement-description {
        transition: ease-in-out 0.3s;

        p {
          cursor: pointer;
          display: flex;
          align-items: center;

          .scale-2 {
            transform: scale(1.2);
          }
        }

        .achievement-more-details {
          .achievement-image {
            img {
              background: #ffd740;
              max-width: 100%;
              max-height: 600px;
              object-fit: cover;
              border-radius: 12px;
            }
          }
        }

        .d-none {
          display: none;
        }
      }
    }
  }
}


@media (min-width: 768px) {
  .achievements-container {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 3rem 0;
    .achievements-list {
      align-items: flex-start;
    }
    .single-achievement {
      flex-basis: 30%;
      flex-grow: 1;
    }
  }
}
