<div class="footer">
  <div class="footer-menu">
    <a routerLink="">
      <mat-icon>
        home
      </mat-icon>
      Strona główna
    </a>
    <a routerLink="/contact">
      <mat-icon>
        mail
      </mat-icon>
      Kontakt
    </a>
    <a routerLink="/about">
      <mat-icon>
        person
      </mat-icon>
      O mnie
    </a>
  </div>
  <div class="social-media">
    <h4>Zajrzyj tutaj po więcej</h4>
    <div class="icons">
      <button mat-icon-button>
        <mat-icon>facebook</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>tiktok</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>camera_alt</mat-icon>
      </button>
    </div>
  </div>
  <div class="contact-info">
    <p>
      <mat-icon>phone</mat-icon>
      <span>Phone:</span> 123-456-789
    </p>
    <p>
      <mat-icon>
        @
      </mat-icon>
      <span>Email:</span>
      <a href="mailto: AdamKowalskiFit@gmail.com">
        AdamKowalskiFit@gmail.com
      </a>
    </p>
  </div>
</div>
