<div class="main-page-container">
<section class="main-page-container__first-section">
  <app-images-slider></app-images-slider>
</section>
<section class="main-page-container__section">
  <h2 class="main-page-container__section-header">Zacznij treningi ze mną już dziś!</h2>
  <app-about-section [isMainPage]="true"></app-about-section>
</section>
<section class="main-page-container__section">
  <h2 class="main-page-container__section-header">To jak, zaczynamy?</h2>
  <app-contact-section [isMainPage]="true"></app-contact-section>
</section>
</div>
