.main-page-container {
  background: #37474F;
  overflow-x: hidden;
  &__first-section {
    width: 100%;
    height: calc(100vh - 200px);
    background: #37474F;
  }

  &__section {
    width: 100%;
    background: #37474F;
  }
  &__section-header {
    text-align: center;
    margin: 3rem 0 1rem;
    padding: 0;
    color: #ffd740;
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .main-page-container {
    &__section-header {
      border-bottom: none;
    }
  }
}
